<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test" parallel="tests" thread-count="5">

    <test thread-count="5" name="1"><classes><class name="tests.Request"/></classes></test> <!-- Test -->
    <test thread-count="5" name="2"><classes><class name="tests.Request"/></classes></test> <!-- Test -->
    <test thread-count="5" name="3"><classes><class name="tests.Request"/></classes></test> <!-- Test -->
    <test thread-count="5" name="4"><classes><class name="tests.Request"/></classes></test> <!-- Test -->

</suite> <!-- Suite -->